<!DOCTYPE html>
<html style="font-size: 16px;" lang="de"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Toimaps">
    <meta name="description" content="">
    <title>About Toimaps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <style>
        body { margin:0; padding:0; }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            max-width: 100%;
        }

        #canva {
            width: 100%;
            height: 100vh;
            background-color: #f0f0f0;
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margin */
            box-sizing: border-box;
            position: relative; /* Add position: relative to establish a positioning context for the #header and #under */
        }



        #under {
            display: inline;
            position: absolute;
            top: 10%;
            width: 100%;
            height: 90%;
            padding-left: 10px;
            background-image: url(../visual/background.jpg);
        }
        #ausrichtung {
            padding-left: 5px;
            padding-top: 5px;
        }


    </style>
    </head>
    <body>

    <div id='canva'>
            {{template "_header.gohtml" .}}

            <div id = "under">
                <table style="margin-top: 2%;">
                    <tr>
                        <td style="width: 10%;"></td>
                        <td style="background-color: azure; width: 80%;" id="ausrichtung">
                            <h2>About ToiMaps&nbsp;</h2>
                            <p>
                                <span style="line-height: 2.0;">ToiMaps ist eine Austauschplattform für alle, die die nächstgelegene Toilette suchen. Sie bietet Funktionen wie Toilette hinzufügen, bewerten und filtern nach der nächst gelegen Toilette für das eigene Geschlecht oder entsprechend der eigenen Bedürfnisse. ToiMaps ist auch genderfreundlich, indem speziell auch nach Toiletten für FLINTA gesucht werden kann.&nbsp;</span>
                            </p>
                            <h2>About Us</h2>
                            <p>
                                <span style="line-height: 2.0;">Wir sind ein kleines Entwicklerteam bestehend aus fünf Studenten der HWR-Berlin. ToiMaps ist im Zuge eines Studienprojektes entstanden, bei dem wir den Themenbereich Softwareengineering näher kennenlernen sollten. Die Idee für ToiMaps ist aus Besuchen von Festivals entstanden, bei denen die Toilettenbeschreibungen und -zuteilungen sehr gut gehandhabt wurde. Daher wollten wir unseren Mitmenschen eine Plattform bieten, mit der sie sich gegenseitig helfen können, die nächstgelegene Toilette zu finden.</span>
                            </p>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div> 
        </div>
    </body>
</html>