<!DOCTYPE html>
<html style="font-size: 16px;" lang="de"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Toimaps">
    <meta name="description" content="">
    <title>About Toimaps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <style>
        body { margin:0; padding:0; }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            max-width: 100%;
        }

        #canva {
            width: 100%;
            height: 100vh;
            background-color: #f0f0f0;
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margin */
            box-sizing: border-box;
            position: relative; /* Add position: relative to establish a positioning context for the #header and #under */
        }


        #under {
            display: flex;
            position: absolute;
            top: 10%;
            width: 100%;
            padding: 0;
            height: 90%;
            background-image: url(../visual/background.jpg);
            justify-content: center;
            align-items: center;
            margin: 0;
            overflow: hidden;
        }
        .centered-frame {
            width: 40%;
            max-width: 40%; /* Optional: set a maximum width */
            height: 100%;
            background-color: #CCC1AF;
            overflow: auto; /* Enable scrolling when content overflows */
            box-sizing: border-box;
            align-self: center;
            padding: 20px; /* Optional: add padding for content inside the frame */
            font-family:system-ui;
        }
        p {
            margin-bottom: 20px; /* Adjust the value as needed */
        }


    </style>
    </head>
    <body>

    <div id='canva'>
            {{template "_header.gohtml" .}}
            <div id = "under">
                <div class="centered-frame">
                <p><h2><strong>About Beschreibung</strong></h2></p>

                <p>
                    ToiMaps ist die Anwendung für dich, wenn du ein stilles Örtchen brauchst.
                    Finde schnell und einfach eine Toilette, die zu deinen Bedürfnissen passt. Egal ob du eine Standardtoilette,
                    ein Pissoir oder sogar ein Missior brauchst. Hier wirst du es finden!
                    Du bist dir außerdem nicht sicher, wie sauber deine Toilette ist? Ob du für die Nutzung Geld bezahlen musst?
                    Oder ob die Toilette nur zu gewissen Zeiten zugänglich sind? Dann lies dir die Bewertung aus der Community durch!
                </p>
                <p>
                    Teile der Community auch deine eigenen Eindrücke mit, indem du die eingebaute Funktion für Rezensionen verwendest.
                    Hattest du ein besonderes Erlebnis? Hast du Menstruationsartikel gefunden? - Auch andere könnte das interessieren.
                    Probiere es gleich mal aus, denn nur du kannst dieser Plattform Leben geben!
                </p>


                <p><h2><strong>About Us</strong></h2></p>
                <p>
                    Das Projektteam, bestehend aus fünf Studierenden der Hochschule für Wirtschaft und Recht Berlin,
                    hat sich das Ziel gesetzt, eine Applikation zu entwickeln, die es Menschen, unabhängig von ihrem Geschlecht, ermöglicht, mühelos und schnell eine
                    geeignete Toilette zu finden. Nach dem Ziel, der Gesellschaft einen Mehrwert zu bringen, hat Toleranz und Akzeptanz einen sehr hohen Stellenwert.
                    Alle Menschen sollen mit einbezogen werden, unabhängig von Geschlecht, Herkunft, Aussehen und Identität.
                    Jede Person sollte den Zugang zu einer sauberen Toilette haben und diese schnellstmöglich finden können.</p>

                </div>
            </div> 
        </div>
    </body>
</html>