<!DOCTYPE html>
<html style="font-size: 16px;" lang="de"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Toimaps">
    <meta name="description" content="">
    <title>Contact Toimaps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; bottom:0; left: 25%; width: 75%; height: 90%;}
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            max-width: 100%;
        }
        #header {
            display: inline;
            align-content: center;
            position: absolute;
            justify-content: end;
            align-items: center;
            width: 100%;
            height: 10%;
            background-color: #693b54;
            opacity: 0.75;
        }

        .nav {
            display: inline-flex;
            align-content: flex-end;
            justify-content: flex-end;
            gap: 50px;
            margin-top: 8px;
            margin-right: 5%;
            list-style-type: none;
            top: 5%;
            padding-top: 1%;
        }

        .nav2 {
            display: inline;
            align-content: flex-start;
            justify-content: flex-start;
            gap: 50px;
            margin-top: 8px;
            margin-right: 5%;
            list-style-type: none;
            top: 5%;
            padding-top: 1%;
            padding-left: 10px;
        }


        .nav li a {
            text-decoration: none;
            font-family: 'Classico', sans-serif;
            color: mintcream;
            font-size: 1.8rem;
        }
        #under {
            display: inline;
            position: absolute;
            top: 10%;
            width: 100%;
            height: 90%;
            padding-left: 10px;
            background-image: url(../visual/background.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        #ausrichtung {
            padding-left: 5px;
            padding-top: 5px;
        }


    </style>
    </head>
    <body>
        <div>
            <div id="header">
                <img src="/visual/Logo.png" alt="Logo" style="height: 50px; margin-left: 10px; margin-top: 1%;">
                <h1 class="nav2">ToiMaps</h1>
                <ul class="nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div id = "under">
                <table style="margin-top: 2%;">
                    <tr>
                        <td style="width: 10%;"></td>
                        <td style="background-color: azure; width: 80%;" id="ausrichtung">
                                <h2>Contact ToiMaps&nbsp;</h2>
                                <p>
                                    <span style="line-height: 2.0;">Für mehr Informationen eine E-Mail an <i>s_reetz22@stud.hwr-berlin.de</i> schreiben </span>
                                </p>
                        </td>
                    </tr>
                </table>
            </div> 
        </div>   
    </body>
</html>