<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Home Toimaps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; bottom:0; left: 25%; width: 75%; height: 90%;}
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            max-width: 100%;
        }
        #header {
            display: inline;
            align-content: center;
            position: absolute;
            justify-content: end;
            align-items: center;
            width: 100%;
            height: 10%;
            background-color: #693b54;
            opacity: 0.75;
        }

        .nav {
            display: inline-flex;
            align-content: flex-end;
            justify-content: flex-end;
            gap: 50px;
            margin-top: 8px;
            margin-right: 5%;
            list-style-type: none;
            top: 5%;
            padding-top: 1%;
        }

        .nav2 {
            display: inline;
            align-content: flex-start;
            justify-content: flex-start;
            gap: 50px;
            margin-top: 8px;
            margin-right: 5%;
            list-style-type: none;
            top: 5%;
            padding-top: 1%;
            padding-left: 10px;
        }


        .nav li a {
            text-decoration: none;
            font-family: 'Classico', sans-serif;
            color: mintcream;
            font-size: 1.8rem;
        }
        #under {
            display: flex;
            width: 100%;
            height: 100%;
        }
        #leftPart {
            display: block;
            left: 0px;
            position: absolute;
            align-content: center;
            top: 10%;
            width: 25%;
            height: 90%;
            background-color: rgb(255, 255, 255);
        }
        #button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }


    </style>
</head>

<body>

<div id='canva'>
    <div id="header">
        <img src="/visual/Logo.png" alt="Logo" style="height: 50px; margin-left: 10px; margin-top: 1%;">
        <h1 class="nav2">ToiMaps</h1>
        <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>


    <div id='under'>
        <div id='leftPart'>
            <form style="padding-left: 10px; font-size: 25px; line-height: 40px;">
                <input type="checkbox" name="Male" title="Male" value="Male" id="Male">
                <label for="Male">Male</label><br>
                <input type="checkbox" name="Female" title="Female" value="Female" id="Female">
                <label for="Female">Female</label><br>
                <input type="checkbox" name="FLINTA" title="FLINTA" value="FLINTA" id="FLINTA">
                <label for="FLINTA">FLINTA</label><br>
                <button type="button" name="button" id="button">Filter</button>

            </form>
        </div>

        <div id='map'></div>

    </div>
</div>
<script>
    var geojson = {{.geo}}

        L.mapbox.accessToken = 'pk.eyJ1Ijoib3JvcmFzdHVkIiwiYSI6ImNsbWFjYWdudTBhenYzZnB4MWRxOTQyZmgifQ.xGK5egvW3iqFN6F9zNDjFg';
    var map = L.mapbox.map('map')
        .setView([ 52.516514825737175, 13.380956275053023], 7)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'))
        //.featureLayer.setGeoJSON(geojson);

    var myFeatureLayer = L.mapbox.featureLayer(geojson)
        .addTo(map);



    document.getElementById('button').addEventListener('click', () => {


        const male = document.getElementById("Male").checked;
        const female = document.getElementById("Female").checked;
        const flinta = document.getElementById("FLINTA").checked;

        var filter = function (features) {
            return true;
        }

        if (male) {
            if (female) {
                if (flinta) {
                    filter = function (features) {
                        return true;
                    }
                } else {
                    // male and female are true, flinta is false
                    filter = function (features) {
                        return features.properties.type !== 'FLINTA';
                    }
                }
            } else {
                if (flinta) {
                    // male and flinta are true, female is false
                    filter = function (features) {
                        return features.properties.type !== 'Female';
                    }
                } else {
                    // male is true, female and flinta are false
                    filter = function (features) {
                        return features.properties.type === 'Male';
                    }
                }
            }
        } else {
            if (female) {
                if (flinta) {
                    // female and flinta are true, male is false
                    filter = function (features) {
                        return features.properties.type !== 'Male';
                    }

                } else {
                    // female is true, male and flinta are false
                    filter = function (features) {
                        return features.properties.type === 'Female';
                    }
                }
            } else {
                if (flinta) {
                    // flinta is true, male and female are false
                    filter = function (features) {
                        return features.properties.type === 'FLINTA';
                    }
                } else {

                    filter = function (features) {
                        return true;


                    }
                }
            }

        }

        myFeatureLayer.setFilter(filter)
    })
</script>

</body>
</html>

