<!DOCTYPE html>
<html style="font-size: 16px;" lang="de"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Toimaps">
    <meta name="description" content="">
    <title>Service Toimaps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
</head>
<style>
    body { margin:0; padding:0; }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
    }

    #canva {
        width: 100%;
        height: 100vh;
        background-color: #f0f0f0;
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
        box-sizing: border-box;
        position: relative; /* Add position: relative to establish a positioning context for the #header and #under */
    }

    #under {
        display: inline;
        position: absolute;
        top: 10%;
        width: 100%;
        height: 90%;
        padding-left: 10px;
        background-image: url(../visual/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    #ausrichtung {
        padding-left: 5px;
        padding-top: 5px;
    }


</style>

<body>
<div id='canva'>
    {{template "_header.gohtml" .}}
    <div id = "under">
        <table style="margin-top: 2%;">
            <tr>
                <td style="width: 10%;"></td>
                <td style="background-color: azure; width: 80%;" id="ausrichtung">
                    <h2>Services ToiMaps&nbsp;</h2>
                    <h3>Neue Toilette</h3>
                    <p>
                        <span style="line-height: 2.0;">Wenn Sie eine Toilette gefunden haben, die noch nicht auf der Plattform ist können Sie sie hier einfügen lassen.</span>
                    </p>
                    <label for="Toilettenname">Toilettenname: &nbsp;&nbsp;</label>
                    <input type="text" name="Toilettenname" id="Toilettenname" maxlength="50"><br><br>
                    <label for="Description">Beschreibung:</label><br>
                    <textarea name="Description" id="Description" cols="50" rows="4" placeholder="Beschreibung" style="resize: none;" maxlength="150"></textarea>
                    <br>
                    <br>
                    <label for="addressInput">Adresse: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input id="addressInput" placeholder="Adresse eingeben"><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="Male" title="Male" value="Male" id="Male">
                    <label for="Male">Male</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="Female" title="Female" value="Female" id="Female">
                    <label for="Female">Female</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="FLINTA" title="FLINTA" value="FLINTA" id="FLINTA">
                    <label for="FLINTA">FLINTA</label><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="getCoordinatesButton">Neue Toilette</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    const accessToken = 'pk.eyJ1Ijoic3RlaW5icmluZyIsImEiOiJja2t1YjE3ZXEwZ3R0MnBqdWo2cHRkOW5sIn0.OEPMk0xJ6j2zIq1zZN9yMg';

    document.getElementById('getCoordinatesButton').addEventListener('click', () => {
        const address = document.getElementById('addressInput').value;
        getCoordinates(address)
            .then(coordinates => {

                fetch("/backend-endpoint", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        lat: coordinates.latitude,
                        long: coordinates.longitude,
                        name: document.getElementById('Toilettenname').value,
                        description: document.getElementById('Description').value,
                        type: getType()
                    })
                }).then((response) => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                    .then((data) => {
                        console.log("Response data:", data);
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });

            })
            .catch(error => {
                console.error(error);
            });
    });

    async function getCoordinates(address) {


        const baseURL = "https://api.mapbox.com/geocoding/v5/mapbox.places/";
        const encodedAddress = encodeURIComponent(address);
        const midTerm = ".json?access_token="

        const url = baseURL + encodedAddress + midTerm + accessToken;

        try {
            const response = await fetch(url);
            const data = await response.json();

            if (data.features.length > 0) {
                const location = data.features[0].center;
                return {
                    latitude: location[1],
                    longitude: location[0]
                };
            } else {
                    throw new Error("Unable to geocode address: " + address);
            }
        } catch (error) {
            throw error;
        }
    }

    function getType() {

        let arr = []

        if(document.getElementById("Male").checked){
            arr.push("Male")
        }
        if(document.getElementById("Female").checked){
            arr.push("Female")
        }
        if(document.getElementById("FLINTA").checked){
            arr.push("FLINTA")
        }

        if(arr.length <1){
            arr.push("Male")
            arr.push("Female")
        }

        return arr;
    }

</script>
</body>
</html>